---
title: Courses
---
<p>
  <ul>
     <li><h4><a href="#aug2017">August 2017 courses</a></h4></li>
     <li><h4><a href="#jan2018">January 2018 courses</a></h4></li>
  </ul>
</p>

<div id ="aug2017">
{% assign semester = site.data.courses.aug2017 %}
<h3 class="text-center">Courses for the semester August-December 2017</h3>

{% include semester-courses.html %}

</div>

<p style="margin-top: 40px; margin-bottom: 40px">
  <ul>
    <li><h4><a href="#aug2017">August 2017 courses</a></h4></li>
    <li><h4><a href="#jan2018">January 2018 courses</a></h4></li>
  </ul>
</p>

<div id ="jan2018">
{% assign semester = site.data.courses.jan2018 %}
<h3 class="text-center">Courses for the semester January-April 2018</h3>

{% include semester-courses.html %}

</div>

<div>
<p style="margin-top: 40px">  
 <h3>Earlier semesters</h3>
 <ul>
    <li><a href="courses2016-17.html"> Academic Year 2016-17</a></li>
    <li> <a href="courses2015AD.html"> August-December 2015</a></li>
    <li> <a href="courses2015JA.html">January-April 2015</a></li>
    <li> <a href="courses2014AD.html"> August-December 2014</a></li>
    <li> <a href="courses2014JA.html"> January-April 2014</a></li>
    <li> <a href="courses2013AD.html"> August-December 2013</a></li>
    <li> <a href="coursesold.html"> Earlier courses</a></li>
 </ul>
</p>
</div>
