---
title: Courses
---
<p>
  <ul>
     <li><h4><a href="#aug2019">August 2019 courses</a></h4></li>
     <li><h4><a href="#jan2020">January 2020 courses</a></h4></li>
  </ul>
</p>

<div id ="aug2019">
{% assign semester = site.data.courses.aug2019 %}
<h2 class="text-center">Courses for the semester August-December 2019</h2>

{% include semester-courses.html %}

</div>

<p style="margin-top: 40px; margin-bottom: 40px">
  <ul>
     <li><h4><a href="#aug2019">August 2019 courses</a></h4></li>
     <li><h4><a href="#jan2020">January 2020 courses</a></h4></li>
  </ul>
</p>

<div id ="jan2020">
{% assign semester = site.data.courses.jan2020 %}
<h2 class="text-center">Courses for the semester January-April 2020</h2>

{% include semester-courses.html %}

</div>

<div>
<p style="margin-top: 40px">
 <h2>Earlier semesters</h2>
 <ul>
   <li><a href="courses2017-18.html"> Academic Year 2017-18</a></li>
    <li><a href="courses2016-17.html"> Academic Year 2016-17</a></li>
    <li> <a href="courses2015AD.html"> August-December 2015</a></li>
    <li> <a href="courses2015JA.html">January-April 2015</a></li>
    <li> <a href="courses2014AD.html"> August-December 2014</a></li>
    <li> <a href="courses2014JA.html"> January-April 2014</a></li>
    <li> <a href="courses2013AD.html"> August-December 2013</a></li>
    <li> <a href="coursesold.html"> Earlier courses</a></li>
 </ul>
</p>
</div>
