---
title: Courses
---
<p>
  <ul>
     <li><h4><a href="#aug2020">August 2021 courses</a></h4></li>
     <li><h4><a href="#jan2021">January 2022 courses</a></h4></li>
  </ul>
</p>

<div id ="aug2021">
{% assign semester = site.data.courses.aug2021 %}
<h2 class="text-center">Courses for the semester August-December 2021</h2>

<p class="lead"> For the <strong>first lecture date</strong> and other details please see the <a href="{{site.baseurl}}/course-schedule.html">Course Schedule</a>.</p>

{% include semester-courses.html %}

</div>

<p style="margin-top: 40px; margin-bottom: 40px">
  <ul>
    <li><h4><a href="#aug2020">August 2021 courses</a></h4></li>
    <li><h4><a href="#jan2021">January 2022 courses</a></h4></li>
 </ul>
</p>

<div id ="jan2022">
{% assign semester = site.data.courses.jan2022 %}
<h2 class="text-center">Courses for the semester January-April 2022</h2>

{% include semester-courses.html %}

</div>

{% include earlier-semesters.html %}
