---
layout: default
title: Events
---

<div class="home">

  <h2 class="page-heading">Events</h2>

  <ul class="post-list">
    {% assign sorted = site.events | sort: 'date' | reverse %}
    {% for post in sorted %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.redirect %}
          <h4>
              <a class="post-link" href="{{ post.redirect }}">{{ post.title | escape }}</a>
            </h4>
          {% else %}
        <h4>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h4>
        <p> {{ post.excerpt }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
