
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
} 
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.banner {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 25px;
}

.dropdown-menu > li > a {
  color: #0f0f0f;
}

a {
  color: #3498db;
}

a:hover,
a:focus {
  color: #3498db;
  text-decoration: underline;
}

.algebra-combinatorics-seminar {
  color: darkmagenta;
}

a.algebra-combinatorics-seminar:hover,
a.algebra-combinatorics-seminar:focus {
  color: darkmagenta;
  text-decoration: underline;
}

.geometry-topology-seminar {
  color: darkcyan;
}

a.geometry-topology-seminar:hover,
a.geometry-topology-seminar:focus {
  color: darkcyan;
  text-decoration: underline;
}

.number-theory-seminar {
  color: #0437F2;
}

a.number-theory-seminar:hover,
a.number-theory-seminar:focus {
  color: #0437F2;
  text-decoration: underline;
}

.analysis-seminar {
  color: darkred;
}

a.analysis-seminar:hover,
a.analysis-seminar:focus {
  color: darkred;
  text-decoration: underline;
}

.aprg-seminar {
  color: darkred;
}

a.aprg-seminar:hover,
a.aprg-seminar:focus {
  color: darkred;
  text-decoration: underline;
}

.promys-guest-lecture {
  color: darkorange;
}

a.promys-guest-lecture:hover,
a.promys-guest-lecture:focus {
  color: darkorange;
  text-decoration: underline;
}


.thesis {
  color: green;
}

a.thesis:hover,
a.thesis:focus {
  color: green;
  text-decoration: underline;
}

.eigenfunctions-seminar {
  color: #8a6d3b;
}
a.eigenfunctions-seminar:hover,
a.eigenfunctions-seminar:focus {
  color: #66512c;
  text-decoration: underline;
}

.bangalore-probability-seminar {
  color: blueviolet;
}

a.bangalore-probability-seminar:hover,
a.bangalore-probability-seminar:focus {
  color: blueviolet;
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

/*.navbar-nav > li > a {padding-top:8px !important; padding-bottom:3px !important;}
.navbar {min-height:32px !important}

.navbar-toggle {
     padding: 0 0;
     margin-top: 7px;
     margin-bottom: 0;
}*/

body {
    padding-top: 20px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }

code {
  color: #2c3e50;
  background-color: white;
}
