---
title: Former Inspire faculty and DST Scientists
---
<div class="col-md-12">
  <h2> Former Inspire faculty and DST Scientists of the Department </h2>

  {% assign alumni = site.data.inspire-alumni %}

    <ul style="list-style-type:none">
    {% for y in alumni %}
      <li><p style="margin-top: 15px; margin-bottom: -3px"><strong>Name:</strong> <em>{{ y.name }}</em>
        (Ph.D.{% if y.phd %}, {{ y.phd }}{% endif %}){% if y.start %}, {{ y.start }} &ndash; {% if y.end %}{{y.end}}.{% endif %}{% endif %}
        </p></li>
      {% if y.area %}<li><strong>Research area:</strong> {{ y.area }}</li>{% endif %}
      {% if y.position %}<li><strong>Position at IISc:</strong> {{ y.position }}</li>{% endif %}   
      {% if y.present %}<li><strong>Current/next position:</strong> {{ y.present }}</li>{% endif %} 
      {% endfor %}
    </ul>
    


</div>
