---
title: NMI Distinguished Associates
---
<div class="col-md-12">
<h2 class="text-center">NMI Distinguished Associates</h2>

<table class="table table-striped">
  {% for stu in site.data.nmiDist %}
  <tr>
    <td class="col-md-7">
      <div><a href="{{ stu.webpage}}"><h4>{{ stu.name }}</h4> </a></div>
      <div class="">
        <strong>Research areas:</strong> {{ stu.research-areas}}
      </div>
      {% if stu.email %}
        <div>
          <strong>E-mail:</strong> <a href="mailto:{{stu.email}}">{{stu.email}}</a>
        </div>
        {% endif %}
        {% if stu.webpage %}
      {% endif %}
      </div>
    </td>
  </tr>
  {%  endfor %}
</table>

</div>
