---
title: Postdocs
---
<div class="col-md-12">
    <h2>Postdocs</h2>

    <p>
        <b>To send email:
            <font face="Courier New" size="3">UserID[at]iisc.ac.in</font>
        </b>
    </p>

    <table class="table table-striped">
        {% for stu in site.data.postdocs %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-10">
                            <div>
                                <h4>
                                    {% if stu.webpage and stu.webpage != "" %}
                                        <a href="{{ stu.webpage | escape }}">{{ stu.name | escape }}</a>
                                        {% if stu.phd and stu.phd != "" %}
                                        (Ph.D.,
                                        {{ stu.phd | escape }})
                                        {% endif %}
                                    {% else %}
                                        {{ stu.name | escape }}
                                        {% if stu.phd and stu.phd != "" %}
                                        (Ph.D.,
                                        {{ stu.phd | escape }})
                                        {% endif %}
                                    {% endif %}
                                </h4>
                                </div>
                                <div>
                                    <strong>Research Areas:</strong>
                                    {{stu.research-area | escape}}
                                </div>
                                <div>
                                    <strong>UserID: </strong>
                                    {{stu.user-id | escape}}
                                </div>
                                {% if stu.office and stu.office != "" %}
                                <div><strong>Office: </strong>Room {{stu.office | escape}}</div>
                                {% endif %}

                                <div>
                                    <strong>Fellowship:</strong>
                                    {{stu.position | escape}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                {% if stu.image %}
                                    <img class="img-fluid" src="{{site.baseurl}}/images/stu-{{stu.user-id | escape}}.jpg" alt="{{stu.name | escape}}">
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
