---
title: Postdocs
---
<div class="col-md-12">
<h2>Postdocs</h2>

  <h4>Alphabetically by last name</h4>
  <h4>To Email: UserID[at]iisc.in</h4>

<table class="table table-striped">
  {% for stu in site.data.postdocs %}
  <tr>
    <td class="col-md-7"><div>
      <h4>
        {% if stu.webpage %}
        <a href="{{ stu.webpage}}">{{ stu.name }}</a>
        {% else %}
        {{ stu.name }}
        {% endif %}
      </div>
        <div>
          <strong>UserID:</strong>{{stu.user-id}}
        </div>
      </div>
    </td>
    <td>
      <img class="col-md-3 pull-right img-responsive" src="{{site.baseurl}}/images/stu-{{stu.user-id}}.jpg"></td>
  </tr>
  {%  endfor %}
</table>

</div>
