body {
    background-color: white;
    font-size: 30px;
    width: 100%;
}


#head {
    background-color: teal;
    color: white;
    text-align: left;
    height: 60px;
}


#customcontainer {
    background-color: white;
    width: 100%;
    font-size: 18px;
    padding: 0px;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}

li {
float: center;
}

be {
float: right;
}

li a {
display: block;
color: darkred;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: bold;
}

