---
title: Former Staff
---
<div class="col-md-12">
  <h2>Former Staff members of the Department</h2>

  {% if site.data.staff-alumni %}
  {% assign staff_list = site.data.staff-alumni | sort: 'end_year' | reverse %}
  
  {% assign sorted_staff = staff_list | sort_natural: 'name' %}
  {% assign final_sorted = sorted_staff | sort: 'start_year' %}

  <table class="table table-striped">
    {% for staff in final_sorted reversed %}
    <tr>
      <td>
        <div class="row">
          <div class="col-md-10">
            <h5>{{ staff.name }}</h5>
            <div> <b>Employment:</b> {{ staff.employment }} </div>
            <div> <b>Position:</b> {{ staff.position_held }} </div>
            <div> <b>Service Period:</b> {{ staff.start_year }} &ndash; {{ staff.end_year }} </div>
            {% if staff.next_position %}
            <div> <b>Present Position:</b> {{ staff.next_position }} </div>
            {% endif %}
            {% if staff.contact %}
            <div> <b>Contact:</b> {{ staff.contact }} </div>
            {% endif %}
          </div>
          <div class="col-md-2">
            {% if staff.image and staff.user-id %}
            <img class="img-fluid" src="{{site.baseurl}}/images/stu-{{staff.user-id}}.jpg" alt="{{ staff.name }}">
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No former staff data available yet.</p>
  {% endif %}

</div>
