---
title: Integrated PhD students
---
<div class="col-md-12">
<h2 class="text-center">Integrated PhD students</h2>

<h4 class="text-center">By year of joining</h4>


{% assign students = site.data.students | where: "programme", "Integrated PhD" %}
{% assign years = students | group_by: "year-of-joining" %}


<ul>
{% for y in years %}



<li><h3>
<a class="" data-toggle="collapse" href="#{{y.name}}" aria-expanded="false" aria-controls="{{y.name}}">
  {{y.name}}
  </a></h3>

<div class="collapse" id="{{y.name}}">


<table class="table table-striped" >
  {% for stu in y.items %}
  <tr>
    <td class="col-md-7">
      <div>
      <h4>
      {% if stu.webpage %}
      <a href="{{ stu.webpage}}">{{ stu.name }}</a>
      {% else %}
      {{ stu.name }}
      {% endif %}
    </h4>
    </div>
      <!-- <div class="">
        <strong>Program:</strong> {{ stu.programme}}
      </div> -->
        <div>
          <strong>E-mail:</strong>
          {% if stu.user-id %}
           <a href="mailto:{{stu.user-id}}@iisc.ac.in">{{stu.user-id}}@iisc.ac.in</a>
          {% endif %}
        </div>
    </td>
    <td>
      {% if stu.image %}
      <img class="col-md-3 pull-right img-responsive" src="{{site.baseurl}}/images/stu-{{stu.user-id}}.jpg"></td>
      {% endif %}
  </tr>
  {%  endfor %}
</table>
</div>
</li>
{% endfor %}
</ul>
</div>
