---
title: Undergraduate Degrees Awarded
---
<div class="col-md-12">
    <h2>
        Undergraduate degrees awarded by the department (by year)
    </h2>

    {% assign years = site.data.ug-alumni | group_by: "year" %}


    {% assign sorted = years | sort: 'name' | reverse %}

    <ul class="list-inline">
        {% for y in sorted %}
            <li class="list-inline-item">
                <a href="#{{y.name}}">
                    {{y.name}}
                </a>
            </li>
        {% endfor %}
    </ul>


    <ul class="list-group list-group-flush">
        {% for y in sorted %}
            <li class="list-group-item">
                <h4>
                    <!-- <a class="" data-toggle="collapse" href="#{{y.name}}" aria-expanded="false" aria-controls="{{y.name}}"> -->
                    {{y.name}}
                    <!-- </a> -->
                </h4>

                <div class="list-group" id="{{y.name}}">
                        {% for deg in y.items %}
                        <div class="list-group-item">
                            <h5>
                                    {{ deg.name }}
                                </h5>
                            <div>
                                <b>Degree:</b>
                                {{deg.degree }}
                            </div>
                            {% if deg.present %}
                                <div>
                                    <b>Next position:</b>
                                    {{ deg.present}}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}


                </div>

            </li>
            <p>
                <a class="pull-right" href="#">Top</a>
            </p>
            <br>
        {% endfor %}
    </ul>

</div>
