<div class="col-md-8 col-offset-md-1">
<table class="table table-bordered">
  <tr>
    <strong>
    <td>Course No</td> <td>Credits</td><td>Course title</td> <td>Instructor</td>
  </strong>
  </tr>
  {% for course in list %}
  <td>{{ course.code }}</td>
  <td>
    {% if course.credits %}
    {{ course.credits }}
    {% else %}
    3:0
    {% endif %}

  </td>
  <td>
    {% capture lnk %}{{ site.baseurl }}/all-courses/{{  course.code  | downcase | replace: ' ', '' }}.html{% endcapture  %}

    {% if course.webpage %}
    {% assign lnk = course.webpage %}
    {% endif %}

    <a href="{{ lnk }}"> {{ course.name }} </a> </td>
  <td> {{ course.instructor}}</td>
</tr>
{% endfor %}

</table>
</div>
