<div>
    <p style="margin-top: 40px">
        <h2>Other semesters</h2>
        <ul>
            <li><a href="courses2019-20.html"> Academic Year 2019-20</a></li>
            <li><a href="courses2018-19.html"> Academic Year 2018-19</a></li>
            <li><a href="courses2017-18.html"> Academic Year 2017-18</a></li>
            <li><a href="courses2016-17.html"> Academic Year 2016-17</a></li>
            <li> <a href="courses2016JA.html">January-April 2016</a></li>
            <li> <a href="courses2015AD.html"> August-December 2015</a></li>
            <li> <a href="courses2015JA.html">January-April 2015</a></li>
            <li> <a href="courses2014AD.html"> August-December 2014</a></li>
            <li> <a href="courses2014JA.html"> January-April 2014</a></li>
            <li> <a href="courses2013AD.html"> August-December 2013</a></li>
            <li> <a href="coursesold.html"> Earlier courses</a></li>
        </ul>
    </p>
</div>