  </div>

<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="bg-primary" style="border-radius: 0px; margin-top: 7px; margin-bottom: 7px; padding:7px;">

    <div class="row" style="margin-left: 10px;">
      <a href ="{{ site.baseurl }}/contact-us.html" style="color: rgb(255,255,255); text-decoration: underline;" >
        <b>Contact</b></a><b>:</b> +91 (80) 2293 2711, +91 (80) 2293 2625
      <div class="pull-right" style="margin-right: 20px;">
        <b>E-mail:<b> <font face="Courier New">chairman.math[at]iisc[dot]ac[dot]in</font></a>
      </div>
    </div>
    </div>

    <div class="row">
      <br><br>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src='{{ site.baseurl }}/js/bootstrap.min.js'></script>

</body>
</html>
