  </div>

<div class="container">
  <div class="row">
    <br>
  </div>
  <div class="bg-dark" style="border-radius: 0px; margin-top: 7px; margin-bottom: 7px; padding:7px;">

    <div class="row text-white" style="margin-left: 5px;">
      <div class="col">
      <a href ="{{ site.baseurl }}/contact-us.html" class="text-white">
        <u><b>Contact</b></a><b>:</b></u> +91 (80) 2293 2711, +91 (80) 2293 2265 ; &nbsp;&nbsp;&nbsp; <b>E-mail:<b> <font face="Courier New">chair.math[at]iisc[dot]ac[dot]in</font></a>
        </div>
          <div class="col text-right">Last updated: {{ site.time | date_to_string }}</div>
    </div>
    </div>

    <div class="row">
      <br><br>
  </div>
</div>


</body>
</html>
