<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  {% assign topbar = 'Department of Mathematics, IISc' %}

  {% if page.title %}
  {% capture topbar %} {{page.title}} - Maths@IISc {% endcapture %}
  {% endif %}

  <title> {{ topbar }}</title>
  <link rel="icon" href="{{ site.baseurl }}/IIScLogo.jpg">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap -->

  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl}}/extras.css">

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js">
  </script>

  <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
</head>



<body>
<div class="container-fluid">
  <div class="bg-primary" style="border-radius: 25px;" >
    <div class="banner">
      <img src="{{ site.baseurl }}/IISc_logo_transparentI.png" class="pull-right" width="100" style="margin-top: 20px; margin-right: 20px;"></img>
      <h2 class="text-center" style="margin-top: 30px;"> Department of Mathematics,  </h2>
      <h2 class="text-center">Indian Institute of Science</h2>

    </div>


    </div>

</div>


  <div class="container">
    <!-- <img src="images/title.gif" class="center-block" width="100%"> -->
    <!-- <div class="bg-primary" style="color:white; text-align:center">
      <img src="IIScLogo.jpg" height="40" />
      <h2 class="center-block">Department of Mathematics</h2>
      <h3>Indian Institute of Science, Bangalore</h3>
    </div> -->

    <!-- <div class="row bg-primary">
      <img src="{{ site.baseurl }}/IIScLogo.jpg" class="col-md-1" style="padding-top:20px;" />
      <div class="col-md-10" style="color:white; text-align:center">
        <h2 class="center-block">Department of Mathematics</h2>
        <h3>Indian Institute of Science, Bangalore</h3>
      </div>

    </div> -->

  {% include navbar.html %}
