<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  {% assign topbar = 'Department of Mathematics, IISc' %}

  {% if page.title %}
  {% capture topbar %} {{page.title}}: Mathematics@IISc {% endcapture %}
  {% endif %}

  <title> {{ topbar }}</title>
  <link rel="icon" href="{{ site.baseurl }}/IIScLogo.jpg">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap -->

  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl}}/extras.css">


  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src='{{ site.baseurl }}/js/bootstrap.min.js'></script>

</head>



<body>
<div class="container">
  <div class="bg-primary">
    <div class="banner">
      <img src="{{ site.baseurl }}/IISc_logo_transparentI.png" class="pull-right" width="100" style="margin-top: 10px; margin-right: 50px;"></img>
    <h2 style="margin-left:120px"> <font face="Verdana">Department of Mathematics</font> </h2>
    <h3 style="margin-left:120px"> <font face="Verdana"><em>Indian Institute of Science</em></font> </h3>

    </div>


    </div>


  {% include navbar.html %}
