<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58114020-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-58114020-2');
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  {% assign topbar = 'Department of Mathematics, IISc' %}

  {% if page.title %}
  {% capture topbar %} {{page.title}}: Mathematics@IISc {% endcapture %}
  {% endif %}

  <title> {{ topbar }}</title>
  <link rel="icon" href="{{ site.baseurl }}/IIScLogo.jpg">

  <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/united/bootstrap.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{{ site.baseurl}}/extras.css">


  <script type="text/javascript" async
    src="{{ site.baseurl }}/MathJax/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
  },
  TeX: {
    Macros: {
      R: '\\mathbb{R}',
      Z: '\\mathbb{Z}',
      C: '\\mathbb{C}',
      Q: '\\mathbb{Q}',
      N: '\\mathbb{N}'
    }
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>

</head>
<body>
<div class="container" style="border:1px solid #cecece; background-color: #fdfdfe;">
  <div class="bg-dark">
    <div class="banner">
      <img src="{{ site.baseurl }}/IISc_logo_transparentI.png" class="pull-right" width="75" style="margin-top: 4px; margin-right: 15px;"></img>
    <center><h2 style="margin-top: 2px;" class="text-white"> Department of Mathematics </h2></center>
    <center><h4 style="margin-bottom: 1px"> <a href="http://www.iisc.ac.in" class="text-white" target="_blank">INDIAN INSTITUTE OF SCIENCE </a></h4></center>
  </div>
</div>


  {% include navbar.html %}

  <p>&nbsp;</p>
