<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"> <a href="http://www.iisc.ac.in"> IISc</a></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Research <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/research-areas.html">Research Areas</a></li>
            <li><a href="{{ site.baseurl }}/pubs.html">Publications</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            People <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/faculty.html">Faculty </a></li>
            <li><a href="{{ site.baseurl }}/emsci.html">Emeritus Scientists </a></li>
            <li><a href="{{ site.baseurl }}/nmi-dist.html">NMI distinguished associates </a></li>
            <li><a href="{{ site.baseurl }}/inspire.html">Inspire Fellows/DST Young scientists</a></li>
            <li><a href="{{ site.baseurl }}/postdocs.html">Post-Docs</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header"> <strong>Students </strong></li>

                <li><a href="{{ site.baseurl }}/students-phd.html">Ph.D.</a></li>
                <li><a href="{{ site.baseurl }}/students-intphd.html">Int Ph.D.</a></li>
                <li><a href="{{ site.baseurl }}/students-intdisphd.html">Interdisciplinary Ph.D.</a></li>
            </li>
            <li role="separator" class="divider"></li>

                <li><a href="{{ site.baseurl }}/people-staff.html">Staff</a></li>
                <li><a href="{{ site.baseurl }}/trainees.html">Project staff</a></li>
            </li>

          </ul>
        </li>





        <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Teaching <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.baseurl }}/course-list.html">Courses</a></li>
    <li><a href="{{ site.baseurl }}/course-schedule.html">Course-Schedule</a></li>
    <li class="dropdown-header"> <strong> Degree programs </strong> </li>
    <li><a href="{{ site.baseurl }}/degprog-phd.html">Ph.D. program</a></li>
    <li><a href="{{ site.baseurl }}/degprog-intphd.html">Integrated Ph.D. program</a></li>
    <li><a href="http://www.iisc.ernet.in/ug/" target="_blank">Undergraduate program</a></li>
  </ul>
</li>

<li><a href="{{ site.baseurl }}/pros-fac.html">Recruitment</a></li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Events <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{{ site.baseurl }}/seminars-all.html">Seminars</a></li>

  </ul>
</li>
      </ul>

      
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li><a href="https://homotopytypetheory.org/">Homotopy Type theory</a></li>
            <li><a href="https://leanprover.github.io/tutorial/">Lean online tutorial</a></li> -->

            <li><a href="https://math.iisc.ac.in/~library" target="_blank">Mathematics library</a></li>
            <li><a href="http://math.iisc.ac.in/~ifcam/" target="_blank"> IFCAM </a></li>
            <li><a href="http://math.iisc.ac.in/~nmi/" target="_blank"> NMI</a></li>
            <li><a href="{{site.baseurl}}/conus.html">Contact Us</a></li>
            <li><a href="{{site.baseurl}}/fileIndex.html">Department Foms</a></li>
            <li><a href="{{site.baseurl}}/intro.html">About Us</a></li>
          </ul>
        </li>

          <ul class="nav navbar-nav navbar-right">
        {% if page.showpubs %}
        {% include publist.html %}
        {% endif %}
        <form class="navbar-form" role="search" action="http://www.google.com/search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <input type="hidden" class="form-control" name="sitesearch" value="math.iisc.ac.in"/>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        </form>       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
