{% assign p = include.post %}
{% if p.redirect %}
  {% assign href = p.redirect %}
{% else %}
  {% assign href = p.url | prepend: site.baseurl %}
{% endif %}

{% assign show_date = include.show_date %}

{% if p.featured and p.poster %}
  {% assign slug = p.url | split: '/' | last | replace: '.html', '' %}
  {% capture poster_path %}/assets/posters/{{ p.date | date: "%Y-%m-%d" }}-{{ slug }}.png{% endcapture %}
<li class="news-item news-item-featured">
  <div class="row no-gutters">
    <div class="col pr-3">
      {% if show_date %}
      <span class="post-meta">{{ p.date | date: "%b %-d, %Y" }}</span>
      {% endif %}
      <h5>
        <a class="post-link" href="{{ href }}">{{ p.title | escape }}</a>
      </h5>
      {{ p.excerpt }}
      <div class="news-poster-link">
        <a href="{{ poster_path | prepend: site.baseurl }}">View poster</a>
      </div>
    </div>
    <div class="col-auto">
      <a href="{{ href }}">
        <img class="news-poster-thumb" width="85" src="{{ poster_path | prepend: site.baseurl }}" alt="{% if p.poster_alt %}{{ p.poster_alt | escape }}{% else %}Poster{% endif %}">
      </a>
    </div>
  </div>
</li>
{% else %}
<li>
  {% if show_date %}
  <span class="post-meta">{{ p.date | date: "%b %-d, %Y" }}</span>
  {% endif %}
  <h5>
    <a class="post-link" href="{{ href }}">{{ p.title | escape }}</a>
  </h5>
  {{ p.excerpt }}
</li>
{% endif %}
