
<table class="table table-bordered">

<tr><td style="white-space: pre;"><h4> Core for
Int. Ph.D. 1st
and UG 3rd
year </h4></td>
  <td></td><td></td><td><td></td></td>
</tr>
{% assign list = semester.core1 %}

{% include course-table.html %}


{% if semester.core2 %}
<tr> <td style="white-space: pre;"><h4>Core for
Int. Ph.D.
2nd year</h4></td>
  <td></td><td></td><td></td><td></td></tr>

{% assign list = semester.core2 %}

{% include course-table.html %}
{% endif %}

<tr><td><h4> Electives  </h4></td>
  <td></td><td></td><td></td><td></td></tr>

{% assign list = semester.electives %}

{% include course-table.html %}
</table>
