
<table class="table table-bordered">

<tr><td><h4> Core for Int. Ph.D. 1st / U.G. 3rd year </h4></td>
  <td></td><td></td><td><td></td></td>
</tr>
{% assign list = semester.core1 %}

{% include course-table.html %}


{% if semester.core2 %}
<tr> <td><h4>Core for Int. Ph.D. second year</h4> </td>
  <td></td><td></td><td></td><td></td></tr>

{% assign list = semester.core2 %}

{% include course-table.html %}
{% endif %}

<tr><td><h4> Electives  </h4></td>
  <td></td><td></td><td></td><td></td></tr>

{% assign list = semester.electives %}

{% include course-table.html %}
</table>
