<h3> List of Seminars. Latest seminars first.
</h3>
<br>

<table class="table table-bordered table-striped">
<tr>
  <strong><td style="width: 120px;">Date</td><td>Speaker</td><td>Title</td></strong>
</tr>
{% assign sorted = (site.seminars | sort: 'date') | reverse %}

{% for sem in sorted  %}
{% capture year %}{{sem.date | date: "%Y"}}{% endcapture %}
{% if year == current %}
<tr>
  <td>{{ sem.date | date: '%b %d, %Y' }}</td>
  <td> {{ sem.speaker }} </td>
  <td> <a href="{{ site.baseurl}}{{ sem.url }}.html">{{ sem.title }}</a></td>
</tr>
{% endif %}
{% endfor %}

</table>


<div class="" id = "tables">
  <h4>For year:</h4>
  <ul>
    <li><a href="Seminars2017">2017</a></li>
    <li><a href="Seminars2016">2016</a></li>
    <li><a href="Seminars2015">2015</a></li>
    <li><a href="Seminars2014">2014</a></li>
    <li><a href="Seminars2013">2013</a></li>
    <li><a href="Seminars2012">2012</a></li>
    <li><a href="Seminars2011">2011</a></li>
    <li><a href="Seminars2010">2010</a></li>
    <li><a href="Seminars2009">2009</a></li>
    <li><a href="Seminars2008">2008</a></li>
    <li><a href="Seminars2007">2007</a></li>
  </ul>
</div>
