body {
    background-color: #a4bfe4;
    color: black;
}

a {
    color: blue;
}

a:hover,
a:focus {
    color: blue;
    text-decoration: underline;
}
.gold {
    color: lightgoldenrodyellow;
}

.table-dark {
    background-color: teal !important;
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: lightgoldenrodyellow !important;
}

