body {
    background-color: #002b36;
    color: white;
}

a {
    color: lightgoldenrodyellow;
}

a:hover,
a:focus {
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

.gold {
    color: lightgoldenrodyellow;
}

.table-dark {
    background-color: teal !important;
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: lightgoldenrodyellow !important;
}