{% include header.html %}

<h3>{{ page.code }}:  {{ page.title }}</h3>
<h4> Credits: {% if page.credits %}{{ page.credits }}{% else %}3:0{% endif %}</h4>
<!-- <p>&nbsp;</p> -->
<br>
{% if page.prereq-courses %}
<h4>Prerequisite courses: {{ page.prereq-courses }} </h4>
{% endif %}
{% if page.ug-prereq-courses %}
<h4>{% if page.prereq-courses %}(Additional ){% endif %}Prerequisite courses for Undegraduates: {{ page.ug-prereq-courses }} </h4>
{% endif %}
{% if page.prereqs %}
<h4> Pre-requisites : </h4>
    <ol>
    {% for pre in page.prereqs %}
     <li> {{ pre }} </li>
    {% endfor %}
   </ol>
   <br>
{% endif %}

    {{ content }}
<br>
{% if page.books %}
<h4> Suggested books and references: </h4>
<ol>
{% for book in page.books %}
 <li>
   {% if book.author %}{{ book.author | strip }}, {% endif %} <em>{{ book.title | strip }}</em>{% if book.publ %}, {{ book. publ | strip }}{% endif %}.</li>
 {% endfor %}
 </ol>
{% endif %}


<br>
<h4><a href="{{ site.baseurl}}/catalogue.html#{{ page.code | slugify }}">All Courses</a></h4>
{% include footer.html %}
