{% include header.html %}

<h3>{{ page.code }}:  {{ page.title }}</h3>
<p>&nbsp;</p>

{% if page.prereqs %}
<h4> Pre-requisites : </h4>
    <ol>
    {% for pre in page.prereqs %}
     <li> {{ pre }} </li>
    {% endfor %}
   </ol>
{% endif %}

<p>&nbsp;</p>
    {{ content }}
<p>&nbsp;</p>
{% if page.books %}
<h4> Suggested books : </h4>
<ol>
{% for book in page.books %}
 <li>
   {{ book.author}}, <em>{{ book.title }}</em>, {{ book. publ }}.</li>
 {% endfor %}
 </ol>
{% endif %}
{% include footer.html %}
