{% include header.html %}

<h3>{{ page.code }}:  {{ page.title }}</h3>
<h4> Credits: {% if course.credits %}{{ course.credits }}{% else %}3:0{% endif %}</h4>
<!-- <p>&nbsp;</p> -->
<br>
{% if page.prereqs %}
<h4> Pre-requisites : </h4>
    <ol>
    {% for pre in page.prereqs %}
     <li> {{ pre }} </li>
    {% endfor %}
   </ol>
   <br>
{% endif %}

    {{ content }}
<br>
{% if page.books %}
<h4> Suggested books : </h4>
<ol>
{% for book in page.books %}
 <li>
   {% if book.author %}{{ book.author}}, {% endif %} <em>{{ book.title }}</em>
 {% if book.publ %},{{ book. publ }}{% endif %}.</li>
 {% endfor %}
 </ol>
{% endif %}

<br>
<h4><a href="{{ site.baseurl}}/catalogue.html">All Courses</a></h4>
{% include footer.html %}
