{% include header.html %}

<div class="row">

  <div class="col-md-10">
 <h5><strong> Title: </strong> {{ page.title }} </h5>
<h5>  <strong>Speaker: </strong> {{page.speaker}} </h5>
<h5>  <strong>Date: </strong>{{ page.date | date_to_long_string }} </h5>
{% if page.time %}
<h5><strong>Time:</strong> {{page.time}}</h5>
{% endif %}
<h5>{% if page.venue %}
   <strong>Venue: </strong> {{ page.venue }}
{% elsif page.location %}
 <strong>Venue: </strong> {{ page.location }}
{% endif %} </h5>
    {{ page.content }}
  </div>

</div>

{% capture year %}{{page.date | date: "%Y"}}{% endcapture %}
<div>
  <ul>
 <li><a href="{{ site.baseurl}}/seminars-all.html"> All seminars.</a></li>
  <li>Seminars for <a href="{{ site.baseurl}}/Seminars{{ year }}.html">{{ year }}</a></li>
</ul>
</div>
{% include footer.html %}
