{% include header.html %}

{% capture start %}{{page.date | date_to_long_string }} {{ page.time }}{% endcapture %}
    {%assign finish = start | date : '%s' | plus: 3600  %}
    {% capture timing %}{{ start | date: "%Y%m%dT%H%M%S" }}/{{ finish | date: "%Y%m%dT%H%M%S" }}{% endcapture %}
    {% capture fulltitle %}{{ page.speaker }} : {{ page.title}}{% endcapture %}
<div class="row mb-3">
    <a href="https://outlook.office.com/calendar/0/deeplink/compose?path=/calendar/action/compose&rru=addevent&startdt={{ start | date: "%Y-%m-%dT%H:%M:%S" }}&enddt={{ finish | date: "%Y-%m-%dT%H:%M:%S" }}&subject={{fulltitle | uri_escape }}&body={{ page.content | uri_escape }}&ctz=Asia/Calcutta" target="blank" class="pull-right btn btn-success ml-2">Add to Outlook calendar</a>
    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{fulltitle | uri_escape }}&dates={{ timing }}&details={{ page.content | uri_escape }}&ctz=Asia/Calcutta" target="blank" class="pull-right btn btn-info ml-2">Add to Google calendar</a></div>
{% if page.series %}<h4><a
href="{% if page.website %}{{ page.website }}#{{ page.date | date: "%Y-%m-%d" }}{% else %}{{ site.baseurl }}/{{ page.series | slugify }}.html#{{ page.date | date: "%Y-%m-%d" }}-{{ page.speaker | slugify }}{% endif %}" class="{{ page.series | slugify }}"
>{{ page.series-prefix }} {{page.series}} {{ page.series-suffix }} </a></h4>{% endif %}

<div class="row">

  <div class="col-md-10">
    {% if page.slides %}
    <a href="{{ site.baseurl }}/seminar-slides/{{ page.date | date: "%Y" }}/{{ page.slides }}" target="_blank" class="pull-right btn btn-info">Slides</a>
    {% endif %}
 <h5><strong> Title: </strong> {{ page.title }}
 </h5>
<h5>  <strong>Speaker: </strong> {{page.speaker}} </h5>
<h5>  <strong>Date: </strong>{{ page.date | date_to_long_string }} </h5>
{% if page.time %}
<h5><strong>Time:</strong> {{page.time}}</h5>
{% endif %}
<h5>{% if page.venue %}
   <strong>Venue: </strong> {{ page.venue }}
{% elsif page.location %}
 <strong>Venue: </strong> {{ page.location }}
{% endif %} </h5>
{% if page.lectures %}{% assign counter = 0 %}
{% for lecture in page.lectures %}
{% assign counter=counter | plus: 1 %}
<hr />
  <div>
  {% if lecture.slides %}
  <a href="{{ site.baseurl }}/seminar-slides/{{ page.date | date: "%Y" }}/{{ lecture.slides }}" target="_blank" class="pull-right btn btn-info">Slides</a>
  {% endif %}
<h5><strong> Lecture {{ counter }}: </strong> {{ lecture.title }}</h5>
  {% if lecture.abstract %}<h5><strong> Abstract: </strong></h5> <p>{{ lecture.abstract }}</p>{% endif %}
</div>
{% endfor %}
{% endif %}
<hr />
  <div>
    {{ page.content }}
  </div>
  </div>

</div>
{% capture year %}{{page.date | date: "%Y"}}{% endcapture %}
<div>
  <ul>
 <li><a href="{{ site.baseurl}}/seminars-all.html"> All seminars.</a></li>
  <li>Seminars for <a href="{{ site.baseurl}}/SeminarsByYear/Seminars{{ year }}.html">{{ year }}</a></li>
</ul>
</div>
{% include footer.html %}
