{% include header.html %}

{% if page.series %}<h4><a
href="{% if page.website %}{{ page.website }}#{{ page.date | date: "%Y-%m-%d" }}{% else %}{{ site.baseurl }}/{{ page.series | slugify }}.html#{{ page.date | date: "%Y-%m-%d" }}-{{ page.speaker | slugify }}{% endif %}" class="{{ page.series | slugify }}"
>{{page.series}} </a></h4>{% endif %}

<div class="row">

  <div class="col-md-10">
 <h5><strong> Title: </strong> {{ page.title }}
{% if page.slides %}
(<a href="{{ site.baseurl }}/seminar-slides/{{ page.date | date: "%Y" }}/{{ page.slides }}" target="_blank">slides</a>)
{% endif %}
 </h5>
<h5>  <strong>Speaker: </strong> {{page.speaker}} </h5>
<h5>  <strong>Date: </strong>{{ page.date | date_to_long_string }} </h5>
{% if page.time %}
<h5><strong>Time:</strong> {{page.time}}</h5>
{% endif %}
<h5>{% if page.venue %}
   <strong>Venue: </strong> {{ page.venue }}
{% elsif page.location %}
 <strong>Venue: </strong> {{ page.location }}
{% endif %} </h5>
    {{ page.content }}
  </div>

</div>

{% capture year %}{{page.date | date: "%Y"}}{% endcapture %}
<div>
  <ul>
 <li><a href="{{ site.baseurl}}/seminars-all.html"> All seminars.</a></li>
  <li>Seminars for <a href="{{ site.baseurl}}/SeminarsByYear/Seminars{{ year }}.html">{{ year }}</a></li>
</ul>
</div>
{% include footer.html %}
